<div class="container">
  <h1>Total count: {{count}}</h1>
  <button (click)="handleReset()" class="btn btn-primary">Reset</button>
  <button (click)="handleIncre()" class="btn btn-primary">Increment</button>
  <button (click)="handleDec()" class="btn btn-primary">Decrement</button>
</div>
